PORT=3000

# JWT
JWT_ACCESS_SECRET=change_me_access_secret
JWT_REFRESH_SECRET=change_me_refresh_secret
ACCESS_TOKEN_EXPIRES=15m
REFRESH_TOKEN_EXPIRES=30d

# DATABASE
DATABASE_URL=postgresql://postgres:password@localhost:5432/messenger

# AI (если используешь внешний API)
AI_API_KEY=your_ai_key_here
